<div class="col-xs-12">
	<h1>Tunester, a music recommendation web app</h1>
	<br />
	<br />
	<p>Hi, thank you checking out my app. Below is a list of albums I have recently listened to and recommend.</p>

	<br />
	<h4><i>Artist - Album</i></h4>
	<hr />
	<p>Shellac - Dude Incredible</p>
	<p>Review: Another Shellac classic. More great tunes from these guys.</p>
	<hr />
	<p>Zombi - Shape Shift</p>
	<p>Review: Electronic Prog-Synth. Put this on and have a 80s sci-fi film soundtrack to your life!</p>
	<hr />
	<p>Elder - Lore</p>
	<p>Review: Epic, heavy, psychedelic jams. The riffage is strong on this one. Turn up loud and enjoy.</p>
	<hr />
</div>