<div class="col-xs-12">
	<h1>Tunester, a music recommendation web app</h1>
	<br />
	<br />
	<p>Hi, thank you checking out my app. Below is a list of albums I have recently listened to and recommend.</p>

	<br />
	<h4><i>Recommendations</i></h4>
	<br />
	<p><strong>Artist: </strong>Shellac<br>
		<strong>Album: </strong>Dude Incredible
		<br />
		<br />
		<strong>Review: </strong>Another Shellac classic. More great tunes from these guys.</p>
	<hr />

	<p><strong>Artist: </strong>Zombi<br>
		<strong>Album: </strong>Shape Shift<br />
		<br />
		<strong>Review: </strong>Electronic Prog-Synth. Put this on and have a 80s sci-fi film soundtrack to your life!</p>
		<hr />

	<p><strong>Artist: </strong>Elder<br>
		<strong>Album: </strong>Lore<br />
		<br />
		<strong>Review: </strong>Epic, heavy, psychedelic jams. The riffage is strong on this one. Turn up loud and enjoy.</p>
		<hr />
</div>