<div class="col-xs-12">
	<h1>Tunester, a music recommendation web app</h1>
	<br />
	<br />
	<p>Hi, thank you checking out my app. Below is a list of albums I have recently listened to and recommend.</p>

	<br />
	<h4><i>Recommendations</i></h4>
	<br />
	<p><% @albums.each do |a| %>
		<div>
			<p><strong>Artist: </strong><%= a.artist %><br />
				<strong>Album: </strong><%= a.album %><br /><br />
				<strong>Review: </strong><%= a.review %><br />
		</div>
	<hr />
	<% end %>