h1 {
	color: #7f8c8d;
	text-shadow: 2px 2px white;
}

body {
	background: url(/assets/ricepaper_v3.png);
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}